<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://qm.qq.com/cgi-bin/qm/qr?k=D94myKySfgJ3F93Udg8HwzIOEJxjsWcf&jump_from=webapi&authKey=suB8a13Yin0eQc8iCWGeJpgcYnsQyHNpYEiy4rX0rwEVoyd1lZhjs6i79XqN9E3n" target="_blank"
    >
      by shurima_soul
    </a>
</footer>
